/* Animations */
@keyframes icon-slide {
  0% {
    transform: translateY(400%);
    opacity: 0.05;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes icon-slide-left {
  0% {
    transform: translateX(300%);
    opacity: 0.05;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes shadows {
  0% {
  }

  100% {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  }
}
